@use 'variables' as *;
@use 'typography';
@use 'layouts';

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DMSans-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/DMSans-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/DMSans-Bold.ttf') format('truetype');
  font-display: swap;
}
h1 {
  font-family: var(--font-primary), sans-serif;
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-lh);
}
